appdirs==1.4.0
BeautifulSoup==3.2.1
Django==1.10.5
django-debug-toolbar==1.6
djangorestframework==3.5.4
future==0.16.0
gunicorn==19.6.0
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
pyTelegramBotAPI==2.3.0
python-telegram-bot==3.2.0
requests==2.13.0
six==1.10.0
sqlparse==0.2.2
viberbot==1.0.5
