appdirs==1.4.0
BeautifulSoup==3.2.1
Django==1.10.5
django-debug-toolbar==1.6
future==0.16.0
gunicorn==19.6.0
packaging==16.8
pyparsing==2.1.10
requests==2.13.0
six==1.10.0
sqlparse==0.2.2
viberbot==1.0.5
